name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      dotnet-logging:
        required: true
        type: choice
        default: minimal
        options:
          - quiet
          - minimal
          - normal
          - detailed
          - diagnostic

permissions:
  actions: read
  contents: read
  pull-requests: write
  security-events: write

jobs:
  all:
    if: github.run_id != 1
    uses: dailydevops/pipelines/.github/workflows/build-dotnet-single.yml@36c1719a7a1fd3f6e2d73e23f939facfa0bcc967 # 1.3.16
    with:
      dotnetVersion: ${{ vars.NE_DOTNET_TARGETFRAMEWORKS }}
      dotnetQuality: ${{ vars.NE_DOTNET_QUALITY }}
      solution: ./CodeBuilder.slnx
    secrets: inherit
