name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      dotnet-logging:
        required: true
        type: choice
        default: minimal
        options:
          - quiet
          - minimal
          - normal
          - detailed
          - diagnostic

permissions:
  actions: read
  contents: read
  pull-requests: write
  security-events: write

jobs:
  all:
    if: github.run_id != 1
    uses: dailydevops/pipelines/.github/workflows/build-dotnet-single.yml@93d4eef3b37e738b6591fdf83a538baab9dcd546 # 2.3.128
    with:
      dotnetVersion: ${{ vars.NE_DOTNET_TARGETFRAMEWORKS }}
      dotnetQuality: ${{ vars.NE_DOTNET_QUALITY }}
      solution: ./CodeBuilder.slnx
    secrets: inherit
